* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.mainTitle {
  background-color: #00BDD2;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  padding: 22px 15px;
  line-height: 20px;
}

.sidebarMenu a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  width: 100%;
  margin: 0 -15px;
  padding: 0 15px;
  font-weight: 200;
}

.userInfo {
  font-size: 14px;
  padding: 15px;
  color: #fff;
  border-bottom: 1px solid #888;
  font-weight: 200;
}

.spinner, .spinner-overlay {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999999;
}

.spinner {
  top: 150px;
}

.spinner-overlay {
  top: 64px;
  bottom: 0px;
  background-color: lightgray;
  opacity: 0.75;
}

.spinner, .spinner-overlay, .spinner-inline {
  i {
    font-size: 300%;
  }
}